*{
    box-sizing: border-box;

}
.form{
    text-align: center;
    width: 400px;
    margin: 0 auto;
    border:1px solid red;
    color: #fff;
    background-color: crimson;
}
.form input, textarea, select{
    display: block;
    padding:12px 15px;
    width: 300px;
    border-radius: 5px;
    font-size: 16px;
}